{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{% static 'css/styles.css' %}"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="manifest" href="{% static 'manifest.json' %}"/>
        <title>Weather</title>
    </head>

    <body>
        <script src="{% static 'scripts/main.js' %}"></script>
        {% include 'header.html' %}
        <div class="d-flex flex-row justify-content-end p-1">
          <a href='weekly_view'>
            <button style='background-color: blue; color: white;'>Weekly Weather</button>
          </a>
        </div>
        <div class="container-fluid" style="font-size:40px;">
            Favorite Places
          </div>
        <div class="container-fluid">
            <div class="row">
              <div class="col"  display="flex" style="background-color:rgb(220, 220, 220); margin-top: 1%; margin-bottom:1%; margin-left:1%; margin-right:1%; height:350px; font-size:25px;">
                Fargo <span style="float:right;">Current Temp: {{current_temp1}}&deg</span> <br>
                <span style="font-size:20px; word-spacing: 87px;">
                Time    Temp  Wind   Forecast    <br>
                </span>
                <span style="font-size:20px; word-spacing: 65px;">
                {{hour_11}}hHLDR   {{hourly_temp_11}}htHLDR&deg  {{hourly_wind_11}}hwHLDR  {{hourly_short_forecast_11}} hsfHLDR   <br>
                {{hour_21}}hHLDR   {{hourly_temp_21}}htHLDR&deg  {{hourly_wind_21}}hwHLDR  {{hourly_short_forecast_21}} hsfHLDR   <br>
                {{hour_31}}hHLDR   {{hourly_temp_31}}htHLDR&deg  {{hourly_wind_31}}hwHLDR  {{hourly_short_forecast_31}} hsfHLDR   <br>
                {{hour_41}}hHLDR   {{hourly_temp_41}}htHLDR&deg  {{hourly_wind_41}}hwHLDR  {{hourly_short_forecast_41}} hsfHLDR   <br>
                {{hour_51}}hHLDR   {{hourly_temp_51}}htHLDR&deg  {{hourly_wind_51}}hwHLDR  {{hourly_short_forecast_51}} hsfHLDR   <br>
                {{hour_61}}hHLDR   {{hourly_temp_61}}htHLDR&deg  {{hourly_wind_61}}hwHLDR  {{hourly_short_forecast_61}} hsfHLDR   <br>
                {{hour_71}}hHLDR   {{hourly_temp_71}}htHLDR&deg  {{hourly_wind_71}}hwHLDR  {{hourly_short_forecast_71}} hsfHLDR   <br>
                </span>
              </div>
              <div class="col" style="background-color:rgb(220, 220, 220); margin-top: 1%; margin-bottom:1%; margin-left:1%; margin-right:1%; height:350px; font-size:25px;">
                Location 2 <span style="float:right;">Current Temp: {{current_temp2}}&deg</span> <br>
                <span style="font-size:20px; word-spacing: 87px;">
                Time    Temp  Wind   Forecast    <br>
                </span>
                <span style="font-size:20px; word-spacing: 65px;">
                {{hour_12}}hHLDR   {{hourly_temp_12}}htHLDR&deg  {{hourly_wind_12}}hwHLDR  {{hourly_short_forecast_12}} hsfHLDR   <br>
                {{hour_22}}hHLDR   {{hourly_temp_22}}htHLDR&deg  {{hourly_wind_22}}hwHLDR  {{hourly_short_forecast_22}} hsfHLDR   <br>
                {{hour_32}}hHLDR   {{hourly_temp_32}}htHLDR&deg  {{hourly_wind_32}}hwHLDR  {{hourly_short_forecast_32}} hsfHLDR   <br>
                {{hour_42}}hHLDR   {{hourly_temp_42}}htHLDR&deg  {{hourly_wind_42}}hwHLDR  {{hourly_short_forecast_42}} hsfHLDR   <br>
                {{hour_52}}hHLDR   {{hourly_temp_52}}htHLDR&deg  {{hourly_wind_52}}hwHLDR  {{hourly_short_forecast_52}} hsfHLDR   <br>
                {{hour_62}}hHLDR   {{hourly_temp_62}}htHLDR&deg  {{hourly_wind_62}}hwHLDR  {{hourly_short_forecast_62}} hsfHLDR   <br>
                {{hour_72}}hHLDR   {{hourly_temp_72}}htHLDR&deg  {{hourly_wind_72}}hwHLDR  {{hourly_short_forecast_72}} hsfHLDR   <br>
                </span>
              </div>
              <div class="col" style="background-color:rgb(220, 220, 220); margin-top: 1%; margin-bottom:1%; margin-left:1%; margin-right:1%; height:350px; font-size:25px;">
                Location 3 <span style="float:right;">Current Temp: {{current_temp3}}&deg</span> <br>
                <span style="font-size:20px; word-spacing: 87px;">
                Time    Temp  Wind   Forecast    <br>
                </span>
                <span style="font-size:20px; word-spacing: 65px;">
                {{hour_13}}hHLDR   {{hourly_temp_13}}htHLDR&deg  {{hourly_wind_13}}hwHLDR  {{hourly_short_forecast_13}} hsfHLDR   <br>
                {{hour_23}}hHLDR   {{hourly_temp_23}}htHLDR&deg  {{hourly_wind_23}}hwHLDR  {{hourly_short_forecast_23}} hsfHLDR   <br>
                {{hour_33}}hHLDR   {{hourly_temp_33}}htHLDR&deg  {{hourly_wind_33}}hwHLDR  {{hourly_short_forecast_33}} hsfHLDR   <br>
                {{hour_43}}hHLDR   {{hourly_temp_43}}htHLDR&deg  {{hourly_wind_43}}hwHLDR  {{hourly_short_forecast_43}} hsfHLDR   <br>
                {{hour_53}}hHLDR   {{hourly_temp_53}}htHLDR&deg  {{hourly_wind_53}}hwHLDR  {{hourly_short_forecast_53}} hsfHLDR   <br>
                {{hour_63}}hHLDR   {{hourly_temp_63}}htHLDR&deg  {{hourly_wind_63}}hwHLDR  {{hourly_short_forecast_63}} hsfHLDR   <br>
                {{hour_73}}hHLDR   {{hourly_temp_73}}htHLDR&deg  {{hourly_wind_73}}hwHLDR  {{hourly_short_forecast_73}} hsfHLDR   <br>
                </span>
              </div>
            </div>
          </div>
          <div class="container-fluid" style="font-size:40px;">
            Weather Near You
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col" style="background-color:rgb(220, 220, 220); margin-top: 1%; margin-bottom:1%; margin-left:1%; margin-right:1%; height:350px; font-size:25px;">
                Location 4 <span style="float:right;">Current Temp: {{current_temp4}}&deg</span> <br>
                <span style="font-size:20px; word-spacing: 87px;">
                Time    Temp  Wind   Forecast    <br>
                </span>
                <span style="font-size:20px; word-spacing: 65px;">
                {{hour_14}}hHLDR   {{hourly_temp_14}}htHLDR&deg  {{hourly_wind_14}}hwHLDR  {{hourly_short_forecast_14}} hsfHLDR   <br>
                {{hour_24}}hHLDR   {{hourly_temp_24}}htHLDR&deg  {{hourly_wind_24}}hwHLDR  {{hourly_short_forecast_24}} hsfHLDR   <br>
                {{hour_34}}hHLDR   {{hourly_temp_34}}htHLDR&deg  {{hourly_wind_34}}hwHLDR  {{hourly_short_forecast_34}} hsfHLDR   <br>
                {{hour_44}}hHLDR   {{hourly_temp_44}}htHLDR&deg  {{hourly_wind_44}}hwHLDR  {{hourly_short_forecast_44}} hsfHLDR   <br>
                {{hour_54}}hHLDR   {{hourly_temp_54}}htHLDR&deg  {{hourly_wind_54}}hwHLDR  {{hourly_short_forecast_54}} hsfHLDR   <br>
                {{hour_64}}hHLDR   {{hourly_temp_64}}htHLDR&deg  {{hourly_wind_64}}hwHLDR  {{hourly_short_forecast_64}} hsfHLDR   <br>
                {{hour_74}}hHLDR   {{hourly_temp_74}}htHLDR&deg  {{hourly_wind_74}}hwHLDR  {{hourly_short_forecast_74}} hsfHLDR   <br>
                </span>
              </div>
              <div class="col" style="background-color:rgb(220, 220, 220); margin-top: 1%; margin-bottom:1%; margin-left:1%; margin-right:1%; height:350px; font-size:25px;">
                Location 5 <span style="float:right;">Current Temp: {{current_temp5}}&deg</span> <br>
                <span style="font-size:20px; word-spacing: 87px;">
                Time    Temp  Wind   Forecast    <br>
                </span>
                <span style="font-size:20px; word-spacing: 65px;">
                {{hour_15}}hHLDR   {{hourly_temp_15}}htHLDR&deg  {{hourly_wind_15}}hwHLDR  {{hourly_short_forecast_15}} hsfHLDR   <br>
                {{hour_25}}hHLDR   {{hourly_temp_25}}htHLDR&deg  {{hourly_wind_25}}hwHLDR  {{hourly_short_forecast_25}} hsfHLDR   <br>
                {{hour_35}}hHLDR   {{hourly_temp_35}}htHLDR&deg  {{hourly_wind_35}}hwHLDR  {{hourly_short_forecast_35}} hsfHLDR   <br>
                {{hour_45}}hHLDR   {{hourly_temp_45}}htHLDR&deg  {{hourly_wind_45}}hwHLDR  {{hourly_short_forecast_45}} hsfHLDR   <br>
                {{hour_55}}hHLDR   {{hourly_temp_55}}htHLDR&deg  {{hourly_wind_55}}hwHLDR  {{hourly_short_forecast_55}} hsfHLDR   <br>
                {{hour_65}}hHLDR   {{hourly_temp_65}}htHLDR&deg  {{hourly_wind_65}}hwHLDR  {{hourly_short_forecast_65}} hsfHLDR   <br>
                {{hour_75}}hHLDR   {{hourly_temp_75}}htHLDR&deg  {{hourly_wind_75}}hwHLDR  {{hourly_short_forecast_75}} hsfHLDR   <br>
                </span>
              </div>
              <div class="col" style="background-color:rgb(220, 220, 220); margin-top: 1%; margin-bottom:1%; margin-left:1%; margin-right:1%; height:350px; font-size:25px;">
                Location 6 <span style="float:right;">Current Temp: {{current_temp6}}&deg</span> <br>
                <span style="font-size:20px; word-spacing: 87px;">
                Time    Temp  Wind   Forecast    <br>
                </span>
                <span style="font-size:20px; word-spacing: 65px;">
                {{hour_16}}hHLDR   {{hourly_temp_16}}htHLDR&deg  {{hourly_wind_16}}hwHLDR  {{hourly_short_forecast_16}} hsfHLDR   <br>
                {{hour_26}}hHLDR   {{hourly_temp_26}}htHLDR&deg  {{hourly_wind_26}}hwHLDR  {{hourly_short_forecast_26}} hsfHLDR   <br>
                {{hour_36}}hHLDR   {{hourly_temp_36}}htHLDR&deg  {{hourly_wind_36}}hwHLDR  {{hourly_short_forecast_36}} hsfHLDR   <br>
                {{hour_46}}hHLDR   {{hourly_temp_46}}htHLDR&deg  {{hourly_wind_46}}hwHLDR  {{hourly_short_forecast_46}} hsfHLDR   <br>
                {{hour_56}}hHLDR   {{hourly_temp_56}}htHLDR&deg  {{hourly_wind_56}}hwHLDR  {{hourly_short_forecast_56}} hsfHLDR   <br>
                {{hour_66}}hHLDR   {{hourly_temp_66}}htHLDR&deg  {{hourly_wind_66}}hwHLDR  {{hourly_short_forecast_66}} hsfHLDR   <br>
                {{hour_76}}hHLDR   {{hourly_temp_76}}htHLDR&deg  {{hourly_wind_76}}hwHLDR  {{hourly_short_forecast_76}} hsfHLDR   <br>
                </span>
              </div>
            </div>
          </div>
    </body>
</html>