{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
        <link rel="manifest" href="{% static 'manifest.json' %}"/>
        <title>Weather</title>
    </head>

    <body>
        <script src="{% static 'scripts/main.js' %}"></script>
        {% include 'header.html' %}
        <div class="d-flex flex-row justify-content-end p-1">
          <a href='/'>
            <button style='background-color: blue; color: white;'>Hourly Weather</button>
          </a>
        </div>
        <h2 class="text-center">Favorite Places</h2>
        <div class="container-fluid">
            <div class="row justify-content-center">
                {% for name, data in favorites.items %}
                    <div class="col weather-card">
                        <div class="title">
                            <a href="city_view/{{ data.location }}">{{ name }}</a>
                            <span style="float:right;">
                                Current: {{ data.current_temp }}&deg;F
                                <img src="{{ data.current_icon }}" alt="icon" class="weather-icon">
                            </span>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-sm table-bordered" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="fit" scope="col" colspan="2"></th>
                                        <th class="fit" scope="col">Temp</th>
                                        <th class="fit" scope="col">Wind</th>
                                        <th scope="col">Forecast</th>
                                    </tr>
                                </thead>

                                <tbody class="table-group-divider">
                                {% for period in data %}
                                    <tr data-bs-toggle="tooltip" data-bs-title="{{ period.detailedForecast }}">
                                        <td class="fit has-weather-icon">
                                            <img src="{{ period.icon }}" alt="icon" class="weather-icon">
                                        </td>
                                        <th class="wrap-fit" scope="row">{{ period.name }}</th>
                                        <td class="fit">{{ period.temperature }}&deg;F</td>
                                        <td class="fit">{{ period.windSpeed }} {{ period.windDirection }}</td>
                                        <td>{{ period.shortForecast }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
          </div>
          <h2 class="text-center">Weather Near You</h2>
          <div class="container-fluid">
            <div class="row justify-content-center">
                {% for name, data in nearby.items %}
                    <div class="col weather-card">
                        <div class="title">
                            <a href="city_view/{{ data.location }}">{{ name }}</a>
                            <span style="float:right;">
                                Current: {{ data.current_temp }}&deg;F
                                <img src="{{ data.current_icon }}" alt="icon" class="weather-icon">
                            </span>
                        </div>

                        <table class="table table-sm table-bordered" style="width: 100%">
                            <thead>
                                <tr>
                                    <th class="fit" scope="col" colspan="2"></th>
                                    <th class="fit" scope="col">Temp</th>
                                    <th class="fit" scope="col">Wind</th>
                                    <th scope="col">Forecast</th>
                                </tr>
                            </thead>

                            <tbody class="table-group-divider">
                            {% for period in data %}
                                <tr data-bs-toggle="tooltip" data-bs-title="{{ period.detailedForecast }}">
                                    <td class="fit has-weather-icon">
                                        <img src="{{ period.icon }}" alt="icon" class="weather-icon">
                                    </td>
                                    <th class="wrap-fit" scope="row">{{ period.name }}</th>
                                    <td class="fit">{{ period.temperature }}&deg;F</td>
                                    <td class="fit">{{ period.windSpeed }} {{ period.windDirection }}</td>
                                    <td>{{ period.shortForecast }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
          </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <script>
            Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]')).forEach((element) => {
                new bootstrap.Tooltip(element);
            });
        </script>
    </body>
</html>