{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{% static 'css/styles.css' %}"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="manifest" href="{% static 'manifest.json' %}"/>
        <title>Weather</title>
    </head>

    <body>
        <script src="{% static 'scripts/main.js' %}"></script>
        {% include 'header.html' %}
        <div class="d-flex flex-row justify-content-end p-1">
          <a href='/'>
            <button style='background-color: blue; color: white;'>Hourly Weather</button>
          </a>
        </div>
        <div class="container-fluid" style="font-size:40px;">
            Favorite Places
          </div>
        <div class="container-fluid">
            <div class="row">
              <div class="col"  display="flex" style="background-color:rgb(220, 220, 220); margin-top: 1%; margin-bottom:1%; margin-left:1%; margin-right:1%; height:350px; font-size:25px;">
                Fargo <span style="float:right;">Current Temp: {{current_temp1}}&degF</span> <br>
                <span style="font-size:20px; word-spacing: 87px;">
                Day    Temp  Wind   Forecast    <br>
                </span>
                <span style="font-size:20px;">
                {{week_date_11}}   {{week_temp_11}}&degF  {{week_wind_11}}  {{week_forecast_11}}    <br>
                {{week_date_21}}   {{week_temp_21}}&degF  {{week_wind_21}}  {{week_forecast_21}}    <br>
                {{week_date_31}}   {{week_temp_31}}&degF  {{week_wind_31}}  {{week_forecast_31}}    <br>
                {{week_date_41}}   {{week_temp_41}}&degF  {{week_wind_41}}  {{week_forecast_41}}    <br>
                {{week_date_51}}   {{week_temp_51}}&degF  {{week_wind_51}}  {{week_forecast_51}}    <br>
                {{week_date_61}}   {{week_temp_61}}&degF  {{week_wind_61}}  {{week_forecast_61}}    <br>
                {{week_date_71}}   {{week_temp_71}}&degF  {{week_wind_71}}  {{week_forecast_71}}    <br>
                </span>
              </div>
              <div class="col" style="background-color:rgb(220, 220, 220); margin-top: 1%; margin-bottom:1%; margin-left:1%; margin-right:1%; height:350px; font-size:25px;">
                New York <span style="float:right;">Current Temp: {{current_temp2}}&degF</span> <br>
                <span style="font-size:20px; word-spacing: 87px;">
                Day    Temp  Wind   Forecast    <br>
                </span>
                <span style="font-size:20px;">
                {{week_date_12}}   {{week_temp_12}}&degF  {{week_wind_12}}  {{week_forecast_12}}    <br>
                {{week_date_22}}   {{week_temp_22}}&degF  {{week_wind_22}}  {{week_forecast_22}}    <br>
                {{week_date_32}}   {{week_temp_32}}&degF  {{week_wind_32}}  {{week_forecast_32}}    <br>
                {{week_date_42}}   {{week_temp_42}}&degF  {{week_wind_42}}  {{week_forecast_42}}    <br>
                {{week_date_52}}   {{week_temp_52}}&degF  {{week_wind_52}}  {{week_forecast_52}}    <br>
                {{week_date_62}}   {{week_temp_62}}&degF  {{week_wind_62}}  {{week_forecast_62}}    <br>
                {{week_date_72}}   {{week_temp_72}}&degF  {{week_wind_72}}  {{week_forecast_72}}    <br>
                </span>
              </div>
              <div class="col" style="background-color:rgb(220, 220, 220); margin-top: 1%; margin-bottom:1%; margin-left:1%; margin-right:1%; height:350px; font-size:25px;">
                Florida <span style="float:right;">Current Temp: {{current_temp3}}&degF</span> <br>
                <span style="font-size:20px; word-spacing: 87px;">
                Day    Temp  Wind   Forecast    <br>
                </span>
                <span style="font-size:20px;">
                {{week_13}}  {{sunday_temp3}}wtHLDR&degF  {{sunday_wind3}}wwHLDR  {{sunday_short_forecast3}} wsfHLDR   <br>
                {{week_23}}   {{monday_temp3}}wtHLDR&degF  {{monday_wind3}}wwHLDR  {{monday_short_forecast3}} wsfHLDR   <br>
                {{week_33}}   {{tuesday_temp3}}wtHLDR&degF  {{tuesday_wind3}}wwHLDR  {{tuesday_short_forecast3}} wsfHLDR   <br>
                {{week_43}}   {{wednesday_temp3}}wtHLDR&degF  {{wednesday_wind3}}wwHLDR  {{wednesday_short_forecast3}} wsfHLDR   <br>
                {{week_53}}   {{thursday_temp3}}wtHLDR&degF {{thursday_wind3}}wwHLDR  {{thursday_short_forecast3}} wsfHLDR   <br>
                {{week_63}}   {{friday_temp3}}wtHLDR&degF  {{friday_wind3}}wwHLDR  {{friday_short_forecast3}} wsfHLDR   <br>
                {{week_73}}   {{saturday_temp3}}wtHLDR&degF  {{saturday_wind3}}wwHLDR  {{saturday_short_forecast3}} wsfHLDR   <br>
                </span>
              </div>
            </div>
          </div>
          <div class="container-fluid" style="font-size:40px;">
            Weather Near You
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col" style="background-color:rgb(220, 220, 220); margin-top: 1%; margin-bottom:1%; margin-left:1%; margin-right:1%; height:350px; font-size:25px;">
                Minnesota <span style="float:right;">Current Temp: {{current_temp4}}&degF</span> <br>
                <span style="font-size:20px; word-spacing: 87px;">
                Day    Temp  Wind   Forecast    <br>
                </span>
                <span style="font-size:20px;">
                Sunday  {{sunday_temp4}}wtHLDR&degF  {{sunday_wind4}}wwHLDR  {{sunday_short_forecast4}} wsfHLDR   <br>
                Monday   {{monday_temp4}}wtHLDR&degF  {{monday_wind4}}wwHLDR  {{monday_short_forecast4}} wsfHLDR   <br>
                Tuesday   {{tuesday_temp4}}wtHLDR&degF  {{tuesday_wind4}}wwHLDR  {{tuesday_short_forecast4}} wsfHLDR   <br>
                Wednesday   {{wednesday_temp4}}wtHLDR&degF {{wednesday_wind4}}wwHLDR  {{wednesday_short_forecast4}} wsfHLDR   <br>
                Thursday   {{thursday_temp4}}wtHLDR&degF  {{thursday_wind4}}wwHLDR  {{thursday_short_forecast4}} wsfHLDR   <br>
                Friday   {{friday_temp4}}wtHLDR&degF  {{friday_wind4}}wwHLDR  {{friday_short_forecast4}} wsfHLDR   <br>
                Saturday   {{saturday_temp4}}wtHLDR&degF  {{saturday_wind4}}wwHLDR  {{saturday_short_forecast4}} wsfHLDR   <br>
                </span>
              </div>
              <div class="col" style="background-color:rgb(220, 220, 220); margin-top: 1%; margin-bottom:1%; margin-left:1%; margin-right:1%; height:350px; font-size:25px;">
                Wahpeton <span style="float:right;">Current Temp: {{current_temp5}}&degF</span> <br>
                <span style="font-size:20px; word-spacing: 87px;">
                Day    Temp  Wind   Forecast    <br>
                </span>
                <span style="font-size:20px;">
                Sunday  {{sunday_temp5}}wtHLDR&degF  {{sunday_wind5}}wwHLDR  {{sunday_short_forecast5}} wsfHLDR   <br>
                Monday   {{monday_temp5}}wtHLDR&degF  {{monday_wind5}}wwHLDR  {{monday_short_forecast5}} wsfHLDR   <br>
                Tuesday   {{tuesday_temp5}}wtHLDR&degF  {{tuesday_wind5}}wwHLDR  {{tuesday_short_forecast5}} wsfHLDR   <br>
                Wednesday   {{wednesday_temp5}}wtHLDR&degF  {{wednesday_wind5}}wwHLDR  {{wednesday_short_forecast5}} wsfHLDR   <br>
                Thursday   {{thursday_temp5}}wtHLDR&degF  {{thursday_wind5}}wwHLDR  {{thursday_short_forecast5}} wsfHLDR   <br>
                Friday   {{friday_temp5}}wtHLDR&degF  {{friday_wind5}}wwHLDR  {{friday_short_forecast5}} wsfHLDR   <br>
                Saturday   {{saturday_temp5}}wtHLDR&degF  {{saturday_wind5}}wwHLDR  {{saturday_short_forecast5}} wsfHLDR   <br>
                </span>
              </div>
              <div class="col" style="background-color:rgb(220, 220, 220); margin-top: 1%; margin-bottom:1%; margin-left:1%; margin-right:1%; height:350px; font-size:25px;">
                Jamestown <span style="float:right;">Current Temp: {{current_temp6}}&degF</span> <br>
                <span style="font-size:20px; word-spacing: 87px;">
                Day    Temp  Wind   Forecast    <br>
                </span>
                <span style="font-size:20px;">
                Sunday  {{sunday_temp6}}wtHLDR&degF  {{sunday_wind6}}wwHLDR  {{sunday_short_forecast6}} wsfHLDR   <br>
                Monday   {{monday_temp6}}wtHLDR&degF  {{monday_wind6}}wwHLDR  {{monday_short_forecast6}} wsfHLDR   <br>
                Tuesday   {{tuesday_temp6}}wtHLDR&degF  {{tuesday_wind6}}wwHLDR  {{tuesday_short_forecast6}} wsfHLDR   <br>
                Wednesday   {{wednesday_temp6}}wtHLDR&degF  {{wednesday_wind6}}wwHLDR  {{wednesday_short_forecast6}} wsfHLDR   <br>
                Thursday   {{thursday_temp6}}wtHLDR&degF  {{thursday_wind6}}wwHLDR  {{thursday_short_forecast6}} wsfHLDR   <br>
                Friday   {{friday_temp6}}wtHLDR&degF  {{friday_wind6}}wwHLDR  {{friday_short_forecast6}} wsfHLDR   <br>
                Saturday   {{saturday_temp6}}wtHLDR&degF  {{saturday_wind6}}wwHLDR  {{saturday_short_forecast6}} wsfHLDR   <br>
                </span>
              </div>
            </div>
          </div>
    </body>
</html>